body{
    margin: 0px;
    width: 100%;
    min-height: 100%;


background-size: 50px 50px;
background-color: rgb(238, 0, 0);
background-image: -webkit-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: -ms-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, transparent 50%, transparent);


}

header{
    background-color: #333; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    height: 75px;
    transition: top 1s; /* Transition effect when sliding down (and up) */
  }
  
#saulFlag{
    background-color: green;
    width: 80%;
    height: 100vh;
    margin-left: 10%;
    margin-right: 10%;


}